{% extends "base.html" %}
{% load static %}

{% block page_header %}
<section class="bg-dark basket-page">
    <div class="basket-page-image">
        <div class="container basket-page-banner-inner py-5">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="my-5 basket-page-main-heading">
                        <h1 class="display-5 fw-bolder text-white mb-2 ">Welcome to your profile</h1>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="my-5 basket-page-total-heading">
                        <h2 class="display-5 fw-bolder text-white mb-2">
                        sub heading
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- end purchase page banner area -->
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">   
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 mb-5 order-1">
                <div class="col-12 basket-heading">
                    <h2 class="">My profile</span></h2>
                </div>  
            </div>      
        </div>
    </div>
{% endblock content %}