{% extends "base.html" %}
{% load static %}

{% block page_header %}
<section class="bg-dark profile-page">
    <div class="profile-page-image">
        <div class="container profil-page-banner-inner py-5">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="my-5 profile-page-main-heading">
                        <h1 class="display-5 fw-bolder text-white mb-2 ">Welcome {{ profile }} to your profile</h1>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="my-5 profile-page-heading">
                        <h2 class="display-5 fw-bolder text-white mb-2">
                        sub heading
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- end profile page banner area -->
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 mb-5">
                <div class="col-12 profile-heading">
                    <h2 class="">Hello, <span>{{ profile }}</span></h2>
                </div>  
            </div>      
        </div>
    </div>
{% endblock content %}