{% extends "base.html" %}
{% load static %}
{% load basket_kit %}

{% block page_header %}
<section class="bg-dark basket-page">
    <div class="basket-page-image">
        <div class="container basket-page-banner-inner py-5">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="my-5 basket-page-main-heading">
                        <h1 class="display-5 fw-bolder text-white mb-2 ">Your Shopping basket</h1>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="my-5 basket-page-total-heading">
                        <h2 class="display-5 fw-bolder text-white mb-2">
                        {% if grand_total %}
                            Total: &nbsp;£{{ grand_total|floatformat:2 }}
                        {% else %} 
                            No items in basket
                        {% endif %}
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- end basket page banner area -->
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 basket-heading">
                <h2 class="">Basket contents</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 mb-5">
                {% if basket_items %}
                    <div class="table rounded">
                        <table class="table table-sm ">
                            <thead class="text-black font-weight-bold">
                                <tr>
                                    <th scope="col">Cover art</th>
                                    <th scope="col">Product Info</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Qty</th>
                                    <th scope="col">Subtotal</th>
                                </tr>
                            </thead>

                            {% for item in basket_items %}
                                <tr>
                                    <td class="p-3 basket-product-art">
                                    {% if item.product.image %}
                                        <img class=" rounded" src="{{ item.product.image.url }}" alt="{{ item.ptoduct.name }}">
                                    {% else %}
                                        <img class=" rounded" src="{{ MEDIA_URL }}no_cover.jpg" alt="{{ item.ptoduct.name }}">
                                    {% endif %}
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">£ {{ item.product.price }}</p>
                                    </td>
                                    <td class="py-3 w-25">
                                        <form class="form update-form" method="post" action="{% url 'update_basket' item.item_id %}">
                                        {% csrf_token %}
                                    <select class="p-2" name="quantity" data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                                        <option value="{{ item.quantity }}">{{ item.quantity }}</option>
                                        <option value="1">1 copy</option>
                                        <option value="2">2 copies</option>
                                        <option value="3">3 copies</option>
                                        <option value="4">4 copies</option>
                                        <option value="5">5 copies</option>
                                    </select>
                                        </form>
                                        <a class="update-link text-info">Update</a>
                                        <a class="remove-item remove-link text-danger" id="remove_{{ item.item_id }}" data-remove="{{ item.item }}"><small>Remove</small></a>
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">£ {{ item.product.price| calc_subtotal:item.quantity }}</p>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="5" class="pt-5">
                                    <h3><strong>Basket Total: £ {{ total|floatformat:2 }}</strong></h3>
                                    <h3>Delivery: £ {{ delivery|floatformat:2 }}</h3>
                                    <h3 class="mt-4"><strong>Total: £ {{ grand_total|floatformat:2 }}</strong></h3>
                                    {% if free_delivery_delta > 0 %}
                                        <p class="mb-1 text-danger">
                                            You could get free delivery by spending just <strong>£ {{ free_delivery_delta }}</strong> more!
                                        </p>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5" class="text-left">
                                    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg details-link p-3">
                                        <span class="icon">
                                            <i class="fas fa-chevron-left"></i>
                                        </span>
                                        <span class="">Keep Browsing</span>
                                    </a>
                                    <a href="{% url 'purchase' %}" class="btn btn-black rounded-0 btn-lg basket-link p-3">
                                        <span class="text-uppercase">Complete purchase</span>
                                        
                                            <i class="fas fa-lock"></i>
                                        
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                {% else %}
                    <p class="lead mb-5">Your basket is empty.</p>
                    <a href="{% url 'products' %}" class="btn btn-outline-dark  btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keep Browsing</span>
                    </a>
                {% endif %}
            </div>

            <div class="col-sm-12 col-md-6 mb-5">
                          
            </div>              
        </div>
    </div>
{% endblock content %}
{% block footerjs %}
{{ block.super }}
<script type="text/javascript">
    // Update quantity on asket page
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item from basket and reload page
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var item = $(this).data('remove');
        var url = `/basket/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken, 'remove': item};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock footerjs %}