{% extends "base.html" %}
{% load static %}

{% block page_header %}
<section class="bg-dark basket-page">
    <div class="basket-page-image">
        <div class="container basket-page-banner-inner py-5">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="my-5 basket-page-main-heading">
                        <h1 class="display-5 fw-bolder text-white mb-2 ">Your Shopping basket</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- end basket page banner area -->
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 basket-heading">
                <h2 class="">Basket</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 mb-5">
                {% if basket_items %}
                    <div class="table-responsive rounded"></div>
                {% else %}
                    <p class="lead mb-5">Your basket is empty.</p>
                    <a href="{% url 'products' %}" class="btn btn-outline-dark  btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keep Browsing</span>
                    </a>
                {% endif %}
            </div>

            <div class="col-sm-12 col-md-6 mb-5">
                          
            </div>              
        </div>
    </div>
{% endblock content %}