{% extends "base.html" %}
{% load static %}

{% block page_header %}
<section class="bg-dark home-page">
    <div class="home-page-image">
        <div class="container home-page-banner-inner py-5">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="my-5 home-page-main-heading">
                        <h1 class="display-5 fw-bolder text-white mb-2 ">New and Used Dvds & Blur-Rays at</h1>
                        <h2 class="hero-tagline text-white">
                        AMAZING PRICES</h2>
                        
                    </div>
                    <div class="my-5 home-page-main-xta">
                        <a href="{% url 'products' %}" class="shop-button btn btn-lg btn-primary rounded-0 text-uppercase py-3">Shop Now</a>
                    </div>
                </div>
            
            <div class="col-lg-5">
                <div class="hero-image">
                    <img src="media/hero_image.png" alt="three film covers, star wars, labyrinth, die hard">
                </div>
            </div>
        </div>
    </div>
</section><!-- end home page banner area -->
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="">MovieBox homepage</h2>
            </div>
        </div>
    </div>
{% endblock content %}