{% extends "base.html" %}
{% load static %}

{% block page_header %}
<section class="bg-dark home-page">
    <div class="home-page-image">
        <div class="container home-page-banner-inner py-5">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="my-5 home-page-main-heading">
                        <h1 class="display-5 fw-bolder text-white mb-2">New and Used Dvds & Blu-Rays at</h1>
                        <h2 class="hero-tagline text-white">
                        AMAZING PRICES</h2>
                        
                    </div>
                    <div class="my-5 home-page-main-xta">
                        <a href="{% url 'products' %}" class="btn btn-lg btn-primary text-uppercase py-3">CHECK THEM OUT!</a>
                    </div>
                </div>
            
                <div class="col-lg-5">
                    <div class="hero-image">
                        <img src="{{ MEDIA_URL }}hero_image.png" alt="three film covers, star wars, labyrinth, die hard">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- end home page banner area -->
{% endblock %}

{% block content %}
{% include 'includes/page_sections/quote.html' %}
    <div class="container main-body">
        <div class="row">
            <div class="col-md-12 mt-3">
                <h2 class="">MovieBox's Top Picks for this month!</h2>
            </div>
        </div>
        <div class="row">
            {% for product in products %}
                {% if product.category.name == "limited_time" %}
                    <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3 mb-5">
                        {% include 'includes/page_sections/movie_cards.html' %}
                    </div>
                {% endif %}
                {% if product.category.name == "clearance" %}
                    <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3 mb-5">
                        {% include 'includes/page_sections/movie_cards.html' %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {% include 'includes/page_sections/introduction_section.html' %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-3 mb-3">
                <h2 class="">Highest rated on imdb</h2>
            </div>
        </div>
        <div class="row">
            {% for item in products %}
                {% if item.imdbrating > 8.2 %}
                    <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3 mb-5">
                        {% include 'includes/page_sections/imdb_rating_cards.html' %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {% include 'includes/page_sections/register_section.html' %}
{% endblock content %}
