/* Import Google fonts Big - Headings, Poppins - Body text */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins&display=swap');

/* Stylesheet Index
1. resets
2. Colour variables
3. Commonly used styles
4. Structure styles
5. header
  -- account bar
  -- nav bar
  -- hero
6. product listing
  -- hero sort area
  -- cards
7. product details
  -- icons
  -- descriptions
  -- cover art
8. shopping basket
9. purchase page
  -- item counter
  -- Stripe payment gateway

media queries
*/

/* 1. resets */

:root, html, * {
    margin: 0;
    padding: 0;
}

/* 2. Colour variables */

:root { 
    --white: #ffffff;
    --black: #000000;
    --grey: #565555; /* Davys Grey */
    --orange: #FFB341; /* Yellow Orange */
    --blue: #5EB1FF; /* Blue */
    --red: #ED254E; /* Red Crayola */
    --silver: #C4CAD0; /* Silver Sand */
    --cream: #FCF7FF; /* Magnolia */
    }

/* 3. commonly used styles */
.lh-100 { line-height: 1; }
.lh-125 { line-height: 1.25; }
.lh-150 { line-height: 1.5; }

/* 4. Structure styles */

html,
body {
  overflow-x: hidden; /* sorce: bootstrap - Prevent scroll on narrow devices */
}

html, body {
    font-family: 'Poppins', sans-serif;
    font-size: 100%;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Bebas Neue', cursive, sans-serif;
}

hr {
    border: 3px solid var(--orange);
    color: var(--orange);
    opacity: 1;
}

.site-logo {
    width: 75%;
}

.hr-50 {
    width: 25%;
    margin: 2rem auto;
    color: var(--orange);
    border-left: 3px solid var(--orange);
    opacity: 1;
}

main {
    flex: 1 0 auto;
}

footer {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: var(--orange);
}

/* header */

/* account bar */

.account-bar {
  background-color: var(--silver);
}

.account-bar ul {
    margin-bottom: 0;
}

.account-bar ul li a {
    color: var(--black);
    text-decoration: none;
}

.account-bar ul li a:hover, .account-bar ul li a:focus {
    color: var(--grey);
    text-decoration: underline;
}

/* navbar */

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, .75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: #6c757d;
}

.nav-underline .nav-link:hover {
  color: #007bff;
}

.nav-underline .active {
  font-weight: 500;
  color: #343a40;
}

/* hero */
.hero-tagline {
  margin-top: 4rem;
  font-size: 5rem;
}

.hero-image img {
  max-width: 100%;
  text-align: center;
}

/* 6. Product listing */

/* hero sort area */

.category-badge span {
  color: var(--white);
}
.category-badge span:hover {
  color: var(--orange);
}

/* cards */

.product-card {
  max-height: 365px;
}

.card-buttons {
  padding: 0;
  color: #000000;
  text-decoration: none;
}

.details-link {
  color: var(--black);
  background-color: var(--silver);
  text-align:center;
  padding:1em 0em;
}
.details-link:hover {
  color: var(--black);
  background-color: var(--cream);
}
.basket-link {
  color: var(--black);
  background-color: var(--orange);
  text-align:center;
  padding:1em 0em;
}
.basket-link:hover {
  color: var(--white);
  background-color: var(--grey);
}

.details-input {
  max-width:40%;
}

.basket-input {
  padding: 1rem;
  max-width: 60%;
  border: none;
  font-size: 1rem;
}

/* 7. Product details */

/* icons */

.imdb-rating i, .product-category i {
  color: var(--black);
  font-size: 2rem;
  padding-top: 1rem;
  padding-right: 1rem;
}

/* descriptions */

.product-title {
  font-size: 3rem;
}

/* cover art */

.cover-art {
  border: 2px solid var(--blue);
  box-shadow: 0 5px 20px rgba(0,0,0,.25);
  transition: transform 300ms, box-shadow 300ms;
}
.cover-art:hover {
  transform: scale(1.1);
  box-shadow: 0 15 80px  rgba(0,0,0,.25);
}

/* 8. Shopping basket */

.basket-heading {
  padding-top: 2rem;
}

.basket-page-total-heading {
  text-align: left;
}

.basket-product-art img{
  max-width: 100%;
}

.update-link, .remove-link {
  cursor: pointer;
  margin-right: 1rem;
  font-size: 1rem;
}

/* 9. Purchase page */

/* Item counter */
.basket-count-purchase {
  top: 30px;
  display: inline-block;
  position: absolute;
}


/* Stripe payment gateway */
.StripeElement {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
#card-element {
    color: #000;
    border: 1px solid #000;
}

select, select option {
  color: #000;
}

select:invalid, select option[value=""] {
  /* color: #aab7c4 !important; */
  color: #ED254E;
}

#payment-process-overlay {
	display: none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--orange);
    z-index: 9999;
}

.processing {
	display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}

/* Profile page */

/* Hero section */
.profile-heading {
  padding-top: 2rem;
}

.profile-page-heading {
  text-align: left;
}

/* media queries */

@media (max-width: 991.98px) {
    .offcanvas-collapse {
      position: fixed;
      top: 56px; /* Height of navbar */
      bottom: 0;
      left: 100%;
      width: 100%;
      padding-right: 1rem;
      padding-left: 1rem;
      overflow-y: auto;
      visibility: hidden;
      background-color: #343a40;
      transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
      transition: transform .3s ease-in-out, visibility .3s ease-in-out;
      transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
    }
    .offcanvas-collapse.open {
      visibility: visible;
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
      margin-top: 50px;
      z-index: 999;
    }
    .offcanvas-collapse.close {
      
      margin-top: 50px;
      
    }
  }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 766px) {
  .basket-product-art img{
    max-width: 35%;
  }

  .basket-page-total-heading, .profile-page-heading  {
    text-align: right !important;
  }
}