/* Import Google fonts Big - Headings, Poppins - Body text */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins&display=swap');

/* Stylesheet Index
1. resets
2. Colour variables
3. Commonly used styles
4. Structure styles
5. header
  -- account bar
  -- nav bar
  -- search bar
  -- hero
  -- quote
6. product listing
  -- hero sort area
  -- cards
Homepage
  -- information area
7. product details
  -- icons
  -- descriptions
  -- cover art
8. shopping basket
9. purchase page
  -- item counter
  -- Stripe payment gateway
Edit movie page
  -- cover art

Footer
media queries


/* 2. Colour variables */

:root { 
    --white: #ffffff;
    --black: #000000;
    --darken-grey: #282e33; /* Gun Metal */
    --grey: #565555; /* Davys Grey */
    --orange: #FFB341; /* Yellow Orange */
    --blue: #5EB1FF; /* Blue Jeans */
    --dark-blue: #016bde; /* Varient of --blue */
    --silver: #C4CAD0; /* Silver Sand */
    --cream: #FCF7FF; /* Magnolia */
    }

/* 3. commonly used styles */
.lh-100 { line-height: 1; }
.lh-125 { line-height: 1.25; }
.lh-150 { line-height: 1.5; }
.bg-dark { background-color: var(--darken-grey)!important;}
.divider:before {
  content: "|";
  color: var(--white);
}
/* 4. Structure styles */

html,
body {
  overflow-x: hidden; /* sorce: bootstrap - Prevent scroll on narrow devices */
}

html, body {
    font-family: 'Poppins', sans-serif;
    font-size: 100%;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Bebas Neue', cursive, sans-serif;
}

hr {
    border: 3px solid var(--orange);
    color: var(--orange);
    opacity: 1;
}

.site-logo {
    width: 75%;
}

.hr-50 {
    width: 25%;
    margin: 2rem auto;
    color: var(--orange);
    border-left: 3px solid var(--orange);
    opacity: 1;
}

main {
    flex: 1 0 auto;
}

.main-body {
  padding-top: 2rem;
}
.main-body h2 {
  padding-bottom: 1rem;
}

footer {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: var(--orange);
}

a {
  color: #0163cc;
  text-decoration: underline;
}

/* header */

/* account bar */

.account-bar {
  background-color: var(--silver);
}

.account-bar ul {
    margin-bottom: 0;
}

.account-bar ul li a {
    color: var(--black);
    text-decoration: none;
}

.account-bar ul li a:hover, .account-bar ul li a:focus {
    color: var(--grey);
    text-decoration: underline;
}

/* navbar */
.navbar-dark .navbar-nav .nav-link {
  color: var(--cream);
}
.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, .75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: #6c757d;
}

.nav-underline .nav-link:hover, .navbar-dark .navbar-nav .nav-link:hover {
  color: var(--orange);
}

.nav-underline .active {
  font-weight: 500;
  color: #343a40;
}

/* search bar */

.search-bar {
  margin-top: 89px!important;
}
.search-input {
  border: 1px solid var(--black);
}
.search-button {
  border: 1px solid var(--black);
  color: var(--black);
  background-color: white;
}
.search-button:hover, .search-button:focus {
  background-color: var(--orange);
  color: var(--black);
}

/* hero */
.hero-tagline {
  margin-top: 4rem;
  font-size: 5rem;
}

.hero-image img {
  max-width: 100%;
  text-align: center;
}

/* - Quote section */

.bg-quotes-wrapper {
  background-color: var(--cream);
}

.quotes {
  font-size: 3rem;
  color: var(--orange);
}
blockquote {
  margin: 0 auto;
}

.blockquote h2 {
  font-size: 3rem;
}


/* Homepage */

/* hero area */

.btn-primary {
  background-color: var(--dark-blue);
}
.btn-primary:hover, .btn-primary:focus {
  background-color: var(--blue);
  color: var(--black);
}
/* Information area */

.main-area i {
  padding-bottom: 3rem;
  font-size: 2rem;
}
.information-area {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.option-container {
  padding: 2rem;
}
.list-group {
  padding-top: 2rem;
}
.option-container p {
  margin-left: 3rem;
}
.delivery-image {
  text-align: center;
  padding-top: 20%;
}
.delivery-image i {
  font-size: 12rem;
  text-align: center;
}

/* 6. Product listing */

/* hero sort area */

.category-badge span {
  color: var(--white);
}
.category-badge span:hover {
  color: var(--orange);
}

/* cards */



.card-buttons {
  padding: 0;
  color: #000000;
  text-decoration: none;
}

.details-link {
  color: var(--black);
  background-color: var(--silver);
  text-align:center;
  padding:1em 0em;
}
.details-link:hover {
  color: var(--black);
  background-color: var(--cream);
}
.basket-link {
  color: var(--black);
  background-color: var(--orange);
  text-align:center;
  padding:1em 0em;
}
.basket-link:hover {
  color: var(--white);
  background-color: var(--grey);
}

.basket-input {
  max-width: 50%;
  border: none;
  font-size: 0.90rem;
}

/* 7. Product details */

/* icons */

.imdb-rating i, .product-category i {
  color: var(--black);
  font-size: 2rem;
  padding-top: 1rem;
  padding-right: 1rem;
}

/* descriptions */

.product-title {
  font-size: 3rem;
}

/* Certification logos */

.certification {
  margin-bottom: 1rem;
}
.certification img {
  max-width: 40px;
  margin-top: -12px;
}

/* cover art */

.cover-art, .card {
  border: 2px solid var(--blue);
  box-shadow: 0 5px 20px rgba(0,0,0,.25);
}
.cover-art:hover, .card:hover {
  box-shadow: 0 15px 80px  rgba(0,0,0,.25);
}

/* 8. Shopping basket */

.basket-heading {
  padding-top: 2rem;
}

.basket-page-total-heading {
  text-align: left;
}

.basket-product-art img{
  max-width: 100%;
}

.update-link, .remove-link {
  cursor: pointer;
  margin-right: 1rem;
  font-size: 1rem;
}

/* 9. Purchase page */

/* Item counter */
.basket-count-purchase {
  top: 30px;
  display: inline-block;
  position: absolute;
}


/* Stripe payment gateway */
.StripeElement {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
#card-element {
    color: #000;
    border: 1px solid #000;
}

select, select option {
  color: #000;
}

select:invalid, select option[value=""] {
  /* color: #aab7c4 !important; */
  color: #ED254E;
}

#payment-process-overlay {
	display: none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--orange);
    z-index: 9999;
}

.processing {
	display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}

/* Profile page */

/* Hero section */
.profile-heading {
  padding-top: 2rem;
}

.profile-page-heading {
  text-align: left;
}

/* Page sections */

/* promotion */
.movie2archive-icon i {
  font-size: 4rem;
}
.promotion-image {
  text-align: center;
  padding-top: 25%;
}
.promotion-image i {
  font-size: 12rem;
  text-align: center;
}
.promotion-link {
  text-align: center;
  padding-top: 0;
}

/* Edit movie page */

/* Cover art */

.edit-movie-page-heading {
  text-align: center;
}
.edit-movie-page-heading img {
  max-width: 40%;
}
.edit-movie-cover img {
  max-width: 60%;
}


/* Footer */

.site-footer {
  margin-bottom: 0;
  text-align: center;
}

.copyright-text {
  text-align: center;
}

.social-icons {
  justify-content: center;
}

.social-icons a {
  margin: 1rem 1rem;
}

.social-icons i {
  font-size: 2rem;
  color: var(--grey);
}

.social-icons i:hover {
  color: var(--black);
}


/* media queries */

@media (max-width: 991.98px) {
    .offcanvas-collapse {
      position: fixed;
      bottom: 0;
      left: 100%;
      top: 90px;
      z-index: 4;
      width: 100%;
      padding-right: 1rem;
      padding-left: 1rem;
      overflow-y: auto;
      visibility: hidden;
      background-color: var(--darken-grey);
      transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
      transition: transform .3s ease-in-out, visibility .3s ease-in-out;
      transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
    }
    .offcanvas-collapse.open {
      visibility: visible;
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
      top: 90px;
      z-index: 4;
    }
    .offcanvas-collapse.close {
      
      margin-top: 50px;
      
    }
  }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 766px) {
  .basket-product-art img{
    max-width: 35%;
  }

  /* cover art */
  .cover-art, .card {
  transition: transform 300ms, box-shadow 300ms;
  }
  .cover-art:hover, .card:hover {
  transform: scale(1.1);
  }

  .basket-page-total-heading, .profile-page-heading  {
    text-align: right !important;
  }
  .social-icons {
    justify-content: end;
  }
}

@media (prefers-reduced-motion) {
  /* cover art */
  .cover-art, .card {
    transition: none;
    }
    .cover-art:hover, .card:hover {
    transform: none;
    }
}