{% extends "base.html" %}
{% load static %}

{% block page_header %}
<section class="bg-dark basket-page">
    <div class="basket-page-image">
        <div class="container basket-page-banner-inner py-5">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="my-5 basket-page-main-heading">
                        <h1 class="display-5 fw-bolder text-white mb-2 "><i class="fas fa-shopping-basket" aria-hidden="true"></i> {% if from_profile %}Past order - Thank you for your order! {% else %}Thank you for your order! {% endif %}</h1>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="my-5 basket-page-total-heading">
                        {% if from_profile %}
                            <h2 class="display-5 fw-bolder text-white mb-2">
                        <a class="text-white" href="{% url 'profile' %}">Back to previous orders</a>
                        </h2>
                        {% else %}
                        <h2 class="display-5 fw-bolder text-white mb-2">
                        Order total:<br>£ {{ order.grand_total }}
                        </h2>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- end purchase page banner area -->
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mb-5">
            <div class="col-sm-12 col-md-12 mb-5">
                <div class="col-12 basket-heading">
                {% if from_profile %}
                    <h2 class="">Past order details</h2>
                    <p>The below infomation is a snapshot of a previous order placed on MovieBox, this information is for refrene only.</p>
                {% else %}
                    <h2 class="">Your order is on it's way <i class="fas fa-arrow-right"></i></h2>
                    <p>
                        Order number: {{ order.order_number }}<br>
                        Here is a summary of your recent purchase below.
                        An email containing your purchase has been sent to your email address {{ order.email }}.
                    </p>
                    <p>
                        Many thanks, MovieBox Team
                    </p>
                {% endif %}
                </div>
            </div>

            <div class="col-sm-12 col-md-6 mb-5">
                <div class="row">
                    <div class="col-12 basket-heading">
                        <h2 class="">Purchased items</h2>
                    </div>
                </div> 
                <hr class="my-3">

                    {% for item in order.lineitems.all %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="small mb-0 text-black font-weight-bold">
                                {{ item.product.name }}
                            </p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p>{{ item.quantity }}
                            {% if item.quantity > 1 %}
                            movies at £{{ item.product.price }} each
                            {% else %}
                            Movie at £{{ item.product.price }}
                            {%endif %}
                            </p>
                        </div>
                    </div>
                    {% endfor %}
            </div>
            <div class="col-sm-12 col-md-6">
                    <div class="row">
                        <div class="col-12 basket-heading">
                            <h2 class="">Delivery address</h2>
                        </div>
                    </div>
                    <hr class="my-3">

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black font-weight-bold">Address line 1</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.street_address1 }}</p>
                        </div>
                    </div>

                    {% if order.street_address2 %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black font-weight-bold">Address line 2</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.street_address2 }}</p>
                        </div>
                    </div>
                    {% endif %}

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black font-weight-bold">City, Town or Village</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.town_or_city }}</p>
                        </div>
                    </div>

                    {% if order.postcode %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black font-weight-bold">Postcode</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.postcode }}</p>
                        </div>
                    </div>
                    {% endif %}

                    {% if order.county %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black font-weight-bold">County</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.county }}</p>
                        </div>
                    </div>
                    {% endif %}

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black font-weight-bold">Country</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.country }}</p>
                        </div>
                    </div>
            </div>

            <div class="col-sm-12 col-md-6">
                <div class="row">
                    <div class="col-12 basket-heading">
                        <h2 class="">Purchase and Delivery costs</h2>
                    </div>
                </div>
                <hr class="my-3">
                
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black font-weight-bold">Basket Total:</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">£ {{ order.order_total }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black font-weight-bold">Delivery cost (10%):</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">£ {{ order.delivery_cost }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black font-weight-bold">Purchase Total:</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">£ {{ order.grand_total }}</p>
                    </div>
                </div>    
            </div>   
        </div>
        <div class="row">
            <div class="col-12 col-lg-12 mb-5">
                <a href="{% url 'products' %}" class="btn basket-link my-2 p-3">
                    
                    <span class="text-uppercase">Visit all movies</span>
                </a>
            </div>
        </div>

    </div>
    {% include 'includes/page_sections/register_section.html' %}
{% endblock content %}