   <!-- start of top 4 product cards -->
    <div class="card h-100 border-1">
        {% if item.image %}
        <a href="{% url 'product_details' item.id %}">
            <img class="product-card card-img-top img-fluid" src="{{ item.image.url }}" alt="{{ item.name }}">
        </a>
        {% else %}
        <a href="{% url 'product_details' item.id %}">
            <img class="product-card card-img-top img-fluid" src="{{ MEDIA_URL }}no_cover.jpg" alt="{{ item.name }}">
        </a>
        {% endif %}
        <div class="card-body pb-0">
            <p class="mb-0">{{ item.name }}</p>
        </div>
        <div class="card-footer bg-white pt-0 border-0 text-left">
            <div class="row">
                <div class="col">
                    <p class="lead mb-0 text-left font-weight-bold">£{{ item.price }}</p>
                    {% if item.category %}
                    <p class="small mt-1 mb-0">
                        <a class="text-muted" href="{% url 'products' %}?category={{ item.category.name }}">
                        {% if item.category.name == "limited_time" %}
                            <i class="fas fa-clock"></i>
                        {% elif item.category.name == "clearance" %}
                            <i class="fas fa-tags mr-1"></i>
                        {% elif item.category.name == "new_arrivals" %}
                            <i class="fas fa-bullhorn"></i>
                        {% else %}
                            <i class="fas fa-video mr-1"></i>
                        {% endif %}
                            {{ item.category.friendly_name }}
                        </a>
                    </p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="border-1 card-buttons">
            <div class="row" style="margin:0!important;" >
                <div class="col-12">
                    <form class="" action="{% url 'add_to_the_basket' item.id %}" method="POST">
                        {% csrf_token %}
                        <select hidden name="quantity" data-item_id="{{ item.id }}" id="id_qty_{{ item.id }}">
                            <option value="1" selected>1 copy</option>
                        </select>
                        <div class="row">
                            <a class="col-6 details-link details-input" href="{% url 'product_details' item.id %}">
                                More info
                            </a>
                            
                            <input type="submit" class="col-12 basket-link  basket-input text-uppercase"  value="Add to Basket">
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
<!-- end product cards -->