<section class="py-5 main-area">
    <div class="container homepage-main-inner">
    <hr class="hr-50">
        <div class="row justify-content-center information-area">
            <div class="col-lg-6">
                <h2>Free and Speedy Delivery</h2>
                <div class="list-group">
                    
                    <div class="d-flex gap-3 py-3 option-container">
                        <i class="fas fa-1"></i>
                        <div class="d-flex gap-2 w-100 justify-content-between">
                            <div>
                                <p class="mb-0">
                                    Choose from a variety of titles on MovieBox.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex gap-3 py-3 option-container">
                        <i class="fas fa-2"></i>
                        <div class="d-flex gap-2 w-100 justify-content-between">
                            <div>
                                <p class="mb-0">
                                    Checkout quickly, safely and securly.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex gap-3 py-3 option-container">
                        <i class="fas fa-3"></i>
                        <div class="d-flex gap-2 w-100 justify-content-between">
                            <div>
                                <p class="mb-0">
                                    Recieve your blockbuster in a few days.
                                </p>
                            </div>
                        </div>
                    </div>
                </div><!-- end home page list group -->
            </div>

            <div class="col-lg-6">
                <div class="delivery-image">
                    <i class="fa-solid fa-truck"></i>
                </div>
            </div><!-- end col 6 -->
        </div>
    </div>
</section><!-- end homepage main area -->