<section class="main-area">
    <div class="container promotion-main-inner">
    <hr class="hr-50">
        <div class="row justify-content-center information-area">
            <div class="col-lg-8">
                <h2>Need a way to archive your Movie collection</h2>
                <p>Why not try Movie2Archive, a simple to use media archive platform, perfect for the budding movie collector or use it for organising your existing collection of movie titles.</p>
                <p>here how simple it is to get started!</p>
                <div class="list-group">
                    
                    <div class="d-flex gap-3 py-3 option-container">
                        <i class="fas fa-1"></i>
                        <div class="d-flex gap-2 w-100 justify-content-between">
                            <div>
                                <p class="mb-0">
                                    Register and create your movie2archive account, or login if you already have an account
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex gap-3 py-3 option-container">
                        <i class="fas fa-2"></i>
                        <div class="d-flex gap-2 w-100 justify-content-between">
                            <div>
                                <p class="mb-0">
                                    Visit the 'My collection' page and add a movie, you only need the movie title, media type and edition and then the location of your movie.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex gap-3 py-3 option-container">
                        <i class="fas fa-3"></i>
                        <div class="d-flex gap-2 w-100 justify-content-between">
                            <div>
                                <p class="mb-0">
                                    View a simple list of your movie collection or view each title to discover more information about your movie.
                                </p>
                            </div>
                        </div>
                    </div>
                </div><!-- end list group -->
            </div>

            <div class="col-lg-4 p-4">
            
                <div class="promotion-image">
                    <img src="{{ MEDIA_URL }}movie2archive.png" alt="Movie2archive logo">
                </div>
                <div class="col-md-12 promotion-link">
                    <a href="https://movie2archive.herokuapp.com/" class="btn basket-link px-4" rel="noopener" target="_blank">
                        <span class="movie2archive-icon">
                        <i class="fas fa-chevron-right"></i>
                        </span>
                        <span class="text-uppercase">Check it out</span>
                    </a>
                </div>
            </div><!-- end col 6 -->
        </div>
    </div>
</section><!-- end promotion area -->