<section class="main-area">
    <div class="container section-main-inner">
    <hr class="hr-50">
        <div class="row justify-content-center register-area">
            <div class="col-lg-6">
                <h2>Why register for an account</h2>
                <div class="list-group">
                    <div class="d-flex gap-3 py-3 option-container">
                        <i class="fas fa-1"></i>
                        <div class="d-flex gap-2 w-100 justify-content-between">
                            <div>
                                <p class="mb-0">
                                    Gain access to your very own unique profile section, where you can add a delivery default for future purchases.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex gap-3 py-3 option-container">
                        <i class="fas fa-2"></i>
                        <div class="d-flex gap-2 w-100 justify-content-between">
                            <div>
                                <p class="mb-0">
                                    Access all your previous purchase orders placed on MovieBox website, which include a full breakdown of what was ordered at the time, no expiry date on hpw long they are available to you.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex gap-3 py-3 option-container">
                        <i class="fas fa-3"></i>
                        <div class="d-flex gap-2 w-100 justify-content-between">
                            <div>
                                <p class="mb-0">
                                    <strong>Coming soon</strong>: exclusive discounts for registered users on sale an limited time movies.<br>
                                    Did we mention registration is FREE!
                                </p>
                            </div>
                        </div>
                    </div>
                </div><!-- end register section area -->
            </div>

            <div class="col-lg-6">
                <div class="delivery-image">
                    <i class="fa-solid fa-square-arrow-up-right"></i>
                </div>
            </div><!-- end col 6 -->
        </div>
    </div>
</section><!-- end register section area -->