{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block page_header %}
<section class="bg-dark auth-page">
    <div class="auth-page-image">
        <div class="container auth-page-banner-inner py-5">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="my-5 profile-page-main-heading">
                        <h1 class="display-5 fw-bolder text-white mb-2 ">Enter a password</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> <!-- end auth pages header section -->
{% endblock page_header %}
{% block inner %}
    <h2>{% trans "Set Password" %}</h2>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn basket-link p-3" type="submit" name="action" value="{% trans 'Set Password' %}"/>
    </form>
{% endblock %}
