{% extends "base.html" %}
{% load static %}

{% block page_header %}
<section class="bg-dark admin-page">
    <div class="admin-page-image">
        <div class="container admin-page-banner-inner py-5">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="my-5 profile-page-main-heading">
                        <h1 class="display-5 fw-bolder text-white mb-2 ">Welcome Admin, Create, Add and remove MovieBox store items.</h1>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="my-5 profile-page-heading">
                        <h2 class="display-5 fw-bolder text-white mb-2">
                        Admin user: {{ profile }}
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- end profile page banner area -->
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 mb-5">
                <div class="col-12 profile-heading">
                    <h2 class="">Add a Movie product</h2>
                </div>  
            </div>      
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 mb-5">
                <h2 class="">Add a movie product guidelines</span></h2>
                <p>To add a movie title to MovieBox, please follow these steps.</p>
                <ul>
                    <li>Supply a valid full movie title, for example:<br>
                    Star Ware - The Phanthom Menace</li>
                    <li>Description:<br>
                    Use imdb to look up the title and use the Plot as the description.</li>
                    <li>Actors, directedby, running time and imdb  rating<br>
                    This informaation can be gained through imdb when looking up the title.</li>
                    <li>Certificate<br>
                    The certificate can change across countries, check the media its self to establish if it is a PAL or NTSC version (UK/US) and apply the correct certification in the field.</li>
                </ul>
                <div class="past-orders-table">
                    
                </div>  
            </div>      
            <div class="col-sm-12 col-md-6 mb-5">
                <h2 class="">Movie details</h2>
                <form class="mt-3" action="{% url 'add_product' %}" method="POST" id="product-add-form" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn basket-link p-3">Add Movie</button>
                </form>
            </div>      
        </div>
    </div>
{% endblock content %}