{% extends "base.html" %}
{% load static %}

{% block page_header %}
<section class="bg-dark home-page">
    <div class="home-page-image">
        <div class="container home-page-banner-inner py-5" style="background-image: 
    url('{{ MEDIA_URL }}felix-mooneeram-evlkOfkQ5rE-unsplash.jpg'); background-size:cover;">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="my-5 products-page-main-heading">
                        <h1 class="display-5 fw-bolder text-white mb-2 ">Viewing movie: &nbsp; {{ product.name }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- end home page banner area -->
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="">All prooducts</h2>
            </div>
        </div>
        <div class="row">

            <div class="col-sm-12 col-md-8 mb-5">
                <div class="product-details-container mb-5 mt-md-5">
                    <h2 class="product-title mb-0">{{ product.name }}</h2>
                    <p class="lead mb-0 text-left font-weight-bold">£{{ product.price }}</p>
                    <p class="lead mb-0 text-left font-weight-bold">{{ product.certificate }}</p>
                    {% if product.category %}
                        <p class="product-category small mt-1 mb-0">
                            <a class="" href="{% url 'products' %}?category={{ product.category.name }}">
                            {% if product.category.name == "limited_time" %}
                                <i class="fas fa-clock"></i>
                            {% elif product.category.name == "clearance" %}
                                <i class="fas fa-tags mr-1"></i>
                            {% elif product.category.name == "new_arrivals" %}
                                <i class="fas fa-bullhorn"></i>
                            {% else %}
                                <i class="fas fa-video mr-1"></i>
                            {% endif %}
                                {{ product.category.friendly_name }}
                            </a>
                        </p>
                    {% endif %}
                    {% if product.imdbrating %}
                        <div class="imdb-rating"><i class="fab fa-imdb mr-1"></i>{{ product.imdbrating }} / 10</div>
                    {% else %}
                        <div class="imdb-rating">No Rating</div>
                    {% endif %}
                    <p class="mt-3">{{ product.description }}</p>
                </div>

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" id="movieTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="detils-tab" data-toggle="tab" data-target="#details" type="button" role="tab" aria-controls="home" aria-selected="true">Information</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-toggle="tab" data-target="#grading" type="button" role="tab" aria-controls="grading" aria-selected="false">Grading</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-toggle="tab" data-target="#delivery" type="button" role="tab" aria-controls="delivery" aria-selected="false">Delivery</button>
                </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content border-1">
                <div class="tab-pane active" id="details" role="tabpanel" aria-labelledby="details-tab">
                    <div class="table-responsive">
                        <table class="table border-1">
                            <thead>
                                <tr>
                                <th scope="col">Item</th>
                                <th scope="col">Information</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                <th class="table-active" scope="row">Actors</th>
                                <td>{{ product.actors }}</td>
                                </tr>
                                <tr>
                                <th class="table-active" scope="row">No of Discs</th>
                                <td>{{ product.no_discs }}</td>
                                </tr>
                                <tr>
                                <th class="table-active" scope="row">Duration</th>
                                <td>{{ product.duration }}</td>
                                </tr>
                                <tr>
                                <th class="table-active" scope="row">Directed by</th>
                                <td>{{ product.directed_by }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                
                </div>
                <div class="tab-pane" id="grading" role="tabpanel" aria-labelledby="grading-tab">Grading information</div>
                <div class="tab-pane" id="delivery" role="tabpanel" aria-labelledby="delivery-tab">Delivrry information</div>
                </div>

            </div>

            <div class="col-sm-12 col-md-4 mb-5">
                {% if product.image %}
                <a href="{{ product.image.url }}" target="_blank">
                    <img class="cover-art card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="{% url 'product_detail' product.id %}">
                    <img class="cover-art card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                </a>
                {% endif %}          
            </div>

            <div class="col-md-12 mb-5">
                <form class="form" action="{% url 'add_to_the_basket' product.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-12">
                                <p class="mt-3"><strong>Quantity:</strong></p>
                                <select class="p-3" name="quantity" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                                    <option value="1" selected>1 copy</option>
                                    <option value="2">2 copies</option>
                                    <option value="3">3 copies</option>
                                    <option value="4">4 copies</option>
                                    <option value="5">5 copies</option>
                                    </select>
                                    <p>Maximum 5 copies per customer</p>
                            </div>

                            <div class="col-12 mb-5">
                                <a href="{% url 'products' %}" class="btn details-link mt-2 p-3">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Keep Browsing</span>
                                </a>
                                <input type="submit" class="btn basket-link  text-uppercase mt-2 p-3" value="Add to Basket">
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </form>
            </div>
                        
        </div>
    </div>
{% endblock content %}