{% extends "base.html" %}
{% load static %}
{% block title %}
    {{ product.name }}
{% endblock title %}

{% block page_header %}
<section class="bg-dark home-page">
    <div class="home-page-image">
        <div class="container home-page-banner-inner py-5" style="background-image: 
    url('{{ MEDIA_URL }}felix-mooneeram-evlkOfkQ5rE-unsplash.jpg'); background-size:cover;">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="my-5 products-page-main-heading">
                        <h1 class="display-5 fw-bolder text-white mb-2 ">Currently Viewing Movie: &nbsp; {{ product.name }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- end home page banner area -->
{% endblock %}

{% block content %}
    <div class="container main-body">
        <div class="row">
            <div class="col-sm-12 col-md-8 mb-5">
                <div class="product-details-container mb-5 mt-md-5">
                    <h2 class="product-title mb-0">{{ product.name }}</h2>
                    <p class="lead text-left font-weight-bold"><strong>Format:</strong> {{ product.format }}</p>
                    <p class="lead text-left font-weight-bold"><strong>Price:</strong> £{{ product.price }}</p>
                    {% if product.certificate %}
                    <p class="lead certification text-left font-weight-bold"><strong>Certificate: </strong>
                        {% if product.certificate == '18' %}
                            <img src="{{ MEDIA_URL }}certification_logos/BBFC_18_2019.svg.png" alt="This movies certificate is {{ product.certificate }}">
                        {% elif product.certificate == '15' %}
                            <img src="{{ MEDIA_URL }}certification_logos/BBFC_15_2019.svg.png" alt="This movies certificate is {{ product.certificate }}">
                        {% elif product.certificate == '12' %}
                            <img src="{{ MEDIA_URL }}certification_logos/BBFC_12_2019.svg.png" alt="This movies certificate is {{ product.certificate }}">
                        {% elif product.certificate == 'PG' %}
                            <img src="{{ MEDIA_URL }}certification_logos/BBFC_PG_2019.svg.png" alt="This movies certificate is {{ product.certificate }}">
                        {% elif product.certificate == 'U' %}
                            <img src="{{ MEDIA_URL }}certification_logos/BBFC_U_2019.svg.png" alt="This movies certificate is {{ product.certificate }}">
                        {% else %}
                            <p class="lead mb-0 text-left font-weight-bold">No rating available at this time.</p>
                        {% endif %}
                        </p>
                    {% endif%}
                    <p class="lead mb-0 text-left font-weight-bold"><strong>Product Grade:</strong> {{ product.grade_info }}</p>
                    {% if product.category %}
                        <p class="product-category mt-1 mb-0">
                            <a class="" href="{% url 'products' %}?category={{ product.category.name }}">
                            {% if product.category.name == "limited_time" %}
                                <i class="fas fa-clock"></i>
                            {% elif product.category.name == "clearance" %}
                                <i class="fas fa-tags mr-1"></i>
                            {% elif product.category.name == "new_arrivals" %}
                                <i class="fas fa-bullhorn"></i>
                            {% else %}
                                <i class="fas fa-video mr-1"></i>
                            {% endif %}
                                <strong>{{ product.category.friendly_name }}</strong>
                            </a>
                        </p>
                    {% endif %}
                    {% if product.imdbrating %}
                        <div class="imdb-rating"><i class="fab fa-imdb mr-1" aria-hidden="true"></i><strong>imdb rating</strong>: {{ product.imdbrating }} / 10</div>
                    {% else %}
                        <div class="imdb-rating">No imdb Rating found.</div>
                    {% endif %}
                    <h2 class="mt-4">Story overview</h2>
                    <p>{{ product.description }}</p>
                </div>

                <!-- Nav tabs -->
                <h3 class="mt-3">Detailed information</h3>
                <ul class="nav nav-tabs" id="movieTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="details-tab" data-toggle="tab" data-target="#details" type="button" role="tab" aria-controls="details" aria-selected="true">Information</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="grading-tab" data-toggle="tab" data-target="#grading" type="button" role="tab" aria-controls="grading" aria-selected="false">Grading</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="delivery-tab" data-toggle="tab" data-target="#delivery" type="button" role="tab" aria-controls="delivery" aria-selected="false">Delivery</button>
                </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content border-1">
                <div class="tab-pane active" id="details" role="tabpanel" aria-labelledby="details-tab">
                    <div class="table-responsive">
                        <table class="table border-1">
                            <thead>
                                <tr>
                                <th scope="col">Item</th>
                                <th scope="col">Information</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                <th class="table-active" scope="row">Actors</th>
                                <td>{{ product.actors }}</td>
                                </tr>
                                <tr>
                                <th class="table-active" scope="row">No of Discs</th>
                                <td>{{ product.no_discs }}</td>
                                </tr>
                                <tr>
                                <th class="table-active" scope="row">Duration</th>
                                <td>{{ product.duration }}</td>
                                </tr>
                                <tr>
                                <th class="table-active" scope="row">Directed by</th>
                                <td>{{ product.directed_by }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane" id="grading" role="tabpanel" aria-labelledby="grading-tab">
                <h4 class="mt-3">Grading information</h4>
                <p>All our DVDs and Blu-Rays when sold are given a grade, this tells you the customer what condition the disc and its packaging will arrive to you in.</p>
                <p>There are 5 grades</p>
                <ul>
                    <li>NEW-A: the very best quality, it is new</li>
                    <li>NEW-B: the best of quality in regards to the disc but there maybe some noticable maarks to the packaging.</li>
                    <li>USED-A: Like NEW-B there could be a few marks on the packaging and a mark or two on the disc, but it will play perfectly.</li>
                    <li>USED-B: These discs will show signs of being used, the disc will always play but the packaging may be torn or dented.</li>
                    <li>USED-C: This is a completly used disc and box, both items will have scratches or marks, with this grade we do check that the disc plays bt some players are tempremental.</li>
                </ul>
                </div>
                <div class="tab-pane" id="delivery" role="tabpanel" aria-labelledby="delivery-tab">
                <h4 class="mt-3">Delivery information</h4>
                <p>All purchases are sent first class Royal mail delivery.<br>If we recieve a purchase order after 12pm (noon), the item will be packaged and sent the very next morning.</p>
                <p>Most purchases are recieved bu our customers with 48hours of ordering.</p>
                <p>Our delivery charge for items is 10 percent the value of the item up until £35 where free delivery is given automatically through the purchasing process.</p>
                </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-4 mb-5">
                {% if product.image %}
                    <img class="cover-art card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                {% else %}
                    <img class="cover-art card-img-top img-fluid" src="{{ MEDIA_URL }}no_cover.jpg" alt="{{ product.name }}">
                {% endif %}
                {% if request.user.is_superuser %}
                <div class="col-12 mb-5 text-center mt-4">
                    <a href="{% url 'edit_movie' product.id %}" class="btn details-link btn-info mt-2 p-3">
                        <span class="text-uppercase">Edit Movie</span>
                    </a>
                    <button class="btn delete-link btn-danger mt-2 p-3" data-toggle="modal" data-target="#delete_modal-{{ product.id }}">
                        <span class="text-uppercase">Remove Movie</span>
                    </button>
                </div>
                {% endif %}        
            </div>

            <div class="col-md-12 mb-5">
                <form class="form" action="{% url 'add_to_the_basket' product.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-12">
                            <h3 class="mt-3">Quantity:</h3>
                            <select class="p-3" name="quantity" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                                <option value="1" selected>1 copy</option>
                                <option value="2">2 copies</option>
                                <option value="3">3 copies</option>
                                <option value="4">4 copies</option>
                                <option value="5">5 copies</option>
                            </select>
                                <p>Maximum 5 copies per customer</p>
                        </div>

                        <div class="col-12 mb-5">
                            <a href="{% url 'products' %}" class="btn details-link mt-2 p-3">
                                <span class="icon">  
                                </span>
                                <span class="text-uppercase">Keep Browsing</span>
                            </a>
                            <input type="submit" class="btn basket-link  text-uppercase mt-2 p-3" value="Add to Basket">
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                </form>
            </div>            
        </div>
    </div>
    {% include 'products/includes/delete_modal.html' %}
    {% include 'includes/page_sections/promotion_section.html' %}
{% endblock content %}