{% extends "base.html" %}
{% load static %}

{% block page_header %}
<section class="bg-dark home-page">
    <div class="home-page-image">
        <div class="container home-page-banner-inner py-5">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="my-5 products-page-main-heading">
                        <h1 class="display-5 fw-bolder text-white mb-2 ">New products added every day!</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- end home page banner area -->
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="">All prooducts</h2>
            </div>
        </div>
        <div class="row">

            <div class="col-sm-12 col-md-6 mb-5">
                <div class="product-details-container mb-5 mt-md-5">
                    <p class="mb-0">{{ product.name }}</p>
                    <p class="lead mb-0 text-left font-weight-bold">£{{ product.price }}</p>
                    {% if product.category %}
                        <p class="small mt-1 mb-0">
                            <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                                <i class="fas fa-clapperboard mr-1"></i>{{ product.category.friendly_name }}
                            </a>
                        </p>
                    {% endif %}
                    {% if product.imdb_rating %}
                        <div class=""><i class="fab fa-imdb mr-1"></i>{{ product.imdb_rating }} / 5</div>
                    {% else %}
                        <div class="text-muted">No Rating</div>
                    {% endif %}
                    <p class="mt-3">{{ product.description }}</p>
                </div>

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" id="movieTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="detils-tab" data-toggle="tab" data-target="#details" type="button" role="tab" aria-controls="home" aria-selected="true">Product details</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-toggle="tab" data-target="#delivery" type="button" role="tab" aria-controls="delivery" aria-selected="false">Delivery details</button>
                </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content border-1">
                <div class="tab-pane active" id="details" role="tabpanel" aria-labelledby="details-tab">product details</div>
                <div class="tab-pane" id="delivery" role="tabpanel" aria-labelledby="delivery-tab">Delivrry information</div>
                </div>

            </div>

            <div class="col-sm-12 col-md-6 mb-5">
                {% if product.image %}
                <a href="{{ product.image.url }}" target="_blank">
                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="{% url 'product_detail' product.id %}">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                </a>
                {% endif %}          
            </div>
                        
        </div>
    </div>
{% endblock content %}