{% extends "base.html" %}
{% load static %}

{% block page_header %}
<section class="bg-dark product-page">
    {% include 'products/includes/product_hero_section.html' %}
</section><!-- end prodct page banner area -->
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 py-3"></div>
        </div>
        <div class="row">
            {% for product in products %}
            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-5">

                <!-- start of product card -->
                <div class="card h-100 border-1">
                    {% if product.image %}
                    <a href="{% url 'product_details' product.id %}">
                        <img class="product-card card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                    </a>
                    {% else %}
                    <a href="{% url 'product_details' product.id %}">
                        <img class="product-card card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                    </a>
                    {% endif %}
                    <div class="card-body pb-0">
                        <p class="mb-0">{{ product.name }}</p>
                    </div>
                    <div class="card-footer bg-white pt-0 border-0 text-left">
                        <div class="row">
                            <div class="col">
                                <p class="lead mb-0 text-left font-weight-bold">£{{ product.price }}</p>
                                {% if product.category %}
                                <p class="small mt-1 mb-0">
                                    <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                                        <i class="fas fa-video mr-1"></i>{{ product.category.friendly_name }}
                                    </a>
                                </p>
                                {% endif %}
                                {% if product.imdbrating %}
                                    <small class="text-muted"><i class="fas fa-star mr-1"></i>
                                    imdb rating: {{ product.imdbrating }} / 10</small>
                                {% else %}
                                    <small class="text-muted">Not yet rated</small>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="border-1 card-buttons">
                        <div class="row" style="margin:0!important;" >
                        <div class="col-12">
                            <form class="" action="{% url 'add_to_the_basket' product.id %}" method="POST">
                                {% csrf_token %}
                                <select hidden name="quantity" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                                    <option value="1" selected>1 copy</option>
                                    <option value="2">2 copies</option>
                                    <option value="3">3 copies</option>
                                    <option value="4">4 copies</option>
                                    <option value="5">5 copies</option>
                                </select>
                                </div>
                                <a class="col-6 details-link details-input" href="{% url 'product_details' product.id %}">
                                    More info
                                </a>
                                
                                <input type="submit" class="col-12 basket-link  basket-input text-uppercase"  value="Add to Basket">
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            </form>
                        </div>
                    </div>
                </div>
                <!-- end product card -->
                
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}

{% block footerjs %}
{{ block.super }}
{% include 'products/includes/sort_script.html' %}
{% endblock footerjs%}